<p>
  <b>Sharedid:</b>
  <%=h @collectionnode.sharedID %>
</p>

<p>
  <b>Nodes:</b>
  <%=h @collectionnode.nodes %>
</p>

<p>
  <b>Userroles:</b>
  <%=h @collectionnode.userroles %>
</p>


<%= link_to 'Edit', edit_collectionnode_path(@collectionnode) %> |
<%= link_to 'Back', collectionnodes_path %>