<p>You are entering room <b><%= @room[:name] %></b> ( <%= @room[:url] %>)</p>

<% swfpath="/Flexternal.swf" %>
<% flashvars="roomURL=#{h(@room[:url])}&authToken=#{h(@room[:token])}" %>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
    id="Flexternal" width="100%" height="100%"
    codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
    <param name="movie" value="<%= swfpath %>" />
    <param name="quality" value="high" />
    <!--param name="bgcolor" value="#869ca7" /-->
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="flashvars" value="<%= flashvars %>" />
    <embed src="<%= swfpath %>" quality="high" x-bgcolor="#869ca7"
	width="100%" height="100%" name="Flexternal" align="middle"
	play="true"
	loop="false"
	quality="high"
	allowScriptAccess="sameDomain"
	type="application/x-shockwave-flash"
	pluginspage="http://www.adobe.com/go/getflashplayer"
        flashvars="<%= flashvars %>">
    </embed>
</object>
