<h1>Listing items</h1>

<table>
  <tr>
    <th>Associateduserid</th>
    <th>Body</th>
    <th>Collectionname</th>
    <th>Itemid</th>
    <th>Nodename</th>
    <th>Publisherid</th>
    <th>Recipientid</th>
    <th>Timestamp</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.associatedUserID %></td>
    <td><%=h item.body %></td>
    <td><%=h item.collectionName %></td>
    <td><%=h item.itemID %></td>
    <td><%=h item.nodeName %></td>
    <td><%=h item.publisherID %></td>
    <td><%=h item.recipientID %></td>
    <td><%=h item.timeStamp %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>