<h1>Editing nodeconfiguration</h1>

<% form_for(@nodeconfiguration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :accessModel %><br />
    <%= f.text_field :accessModel %>
  </p>
  <p>
    <%= f.label :allowPrivateMessage %><br />
    <%= f.text_field :allowPrivateMessage %>
  </p>
  <p>
    <%= f.label :itemStorageSchem %><br />
    <%= f.text_field :itemStorageSchem %>
  </p>
  <p>
    <%= f.label :modifyAnyItem %><br />
    <%= f.text_field :modifyAnyItem %>
  </p>
  <p>
    <%= f.label :persistItems %><br />
    <%= f.text_field :persistItems %>
  </p>
  <p>
    <%= f.label :publishModel %><br />
    <%= f.text_field :publishModel %>
  </p>
  <p>
    <%= f.label :sessionDependentItems %><br />
    <%= f.text_field :sessionDependentItems %>
  </p>
  <p>
    <%= f.label :userDependentItems %><br />
    <%= f.text_field :userDependentItems %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nodeconfiguration %> |
<%= link_to 'Back', nodeconfigurations_path %>