<p>
  <b>Accessmodel:</b>
  <%=h @nodeconfiguration.accessModel %>
</p>

<p>
  <b>Allowprivatemessage:</b>
  <%=h @nodeconfiguration.allowPrivateMessage %>
</p>

<p>
  <b>Itemstorageschem:</b>
  <%=h @nodeconfiguration.itemStorageSchem %>
</p>

<p>
  <b>Modifyanyitem:</b>
  <%=h @nodeconfiguration.modifyAnyItem %>
</p>

<p>
  <b>Persistitems:</b>
  <%=h @nodeconfiguration.persistItems %>
</p>

<p>
  <b>Publishmodel:</b>
  <%=h @nodeconfiguration.publishModel %>
</p>

<p>
  <b>Sessiondependentitems:</b>
  <%=h @nodeconfiguration.sessionDependentItems %>
</p>

<p>
  <b>Userdependentitems:</b>
  <%=h @nodeconfiguration.userDependentItems %>
</p>


<%= link_to 'Edit', edit_nodeconfiguration_path(@nodeconfiguration) %> |
<%= link_to 'Back', nodeconfigurations_path %>