<h1>Editing node</h1>

<% form_for(@node) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :nodeconfiguration %><br />
    <%= f.text_field :nodeconfiguration %>
  </p>
  <p>
    <%= f.label :items %><br />
    <%= f.text_field :items %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @node %> |
<%= link_to 'Back', nodes_path %>