<h1>New room</h1>

<% form_for(@room) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :roomURL %><br />
    <%= f.text_field :roomURL %>
  </p>
  <p>
    <%= f.label :roomName %><br />
    <%= f.text_field :roomName %>
  </p>
  <p>
    <%= f.label :roomTimeOut %><br />
    <%= f.text_field :roomTimeOut %>
  </p>
  <p>
    <%= f.label :roomUserLimit %><br />
    <%= f.text_field :roomUserLimit %>
  </p>
  <p>
    <%= f.label :selectedBandwidth %><br />
    <%= f.text_field :selectedBandwidth %>
  </p>
  <p>
    <%= f.label :autoPromote %><br />
    <%= f.check_box :autoPromote %>
  </p>
  <p>
    <%= f.label :endMeetingMessage %><br />
    <%= f.text_field :endMeetingMessage %>
  </p>
  <p>
    <%= f.label :webhookurl %><br />
    <%= f.text_field :webhookurl %>
  </p>
  <p>
    <%= f.label :guestsHaveToKnock %><br />
    <%= f.check_box :guestsHaveToKnock %>
  </p>
  <p>
    <%= f.label :guestsNotAllowed %><br />
    <%= f.check_box :guestsNotAllowed %>
  </p>
  <p>
    <%= f.label :productName %><br />
    <%= f.text_field :productName %>
  </p>
  <p>
    <%= f.label :roomLocked %><br />
    <%= f.text_field :roomLocked %>
  </p>
  <p>
    <%= f.label :roomState %><br />
    <%= f.text_field :roomState %>
  </p>
  <p>
    <%= f.label :roomsetting %><br />
    <%= f.text_field :roomsetting %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rooms_path %>