LCCS Room Manager <strong><%=session[:user_id]%></strong>.<br> <br>

<% if flash[:result] %>

  <div style="font-family:'Trebuchet MS'; color:green; font-size:14px;">

  <%= flash[:result] %>

  </div>

<% end %>

<% if flash[:notice] %>

  <div style="font-family:'Trebuchet MS'; color:red; font-size:14px;">

  <%= flash[:notice] %>

  </div>

<% end %>


<p>
  <b>Roomname:</b>
  <%=h @room.roomName %>
</p>

<% if !@room.roomURL.nil? %>
<p>
  <b>Roomurl:</b>
  <%=h @room.roomURL %>
</p>
<%end%>

<% if !@room.roomTimeOut.nil? %>
<p>
  <b>Roomtimeout:</b>
  <%=h @room.roomTimeOut %>
</p>
<%end%>

<% if !@room.roomUserLimit.nil? %>
<p>
  <b>Roomuserlimit:</b>
  <%=h @room.roomUserLimit %>
</p>
<%end%>

<% if !@room.selectedBandwidth.nil? %>
<p>
  <b>Selectedbandwidth:</b>
  <%=h @room.selectedBandwidth %>
</p>
<%end%>

<% if !@room.autoPromote.nil? %>
<p>
  <b>Autopromote:</b>
  <%=h @room.autoPromote %>
</p>
<%end%>

<% if !@room.endMeetingMessage.nil? %>
<p>
  <b>Endmeetingmessage:</b>
  <%=h @room.endMeetingMessage %>
</p>
<%end%>

<% if !@room.webhookurl.nil? %>
<p>
  <b>Webhookurl:</b>
  <%=h @room.webhookurl %>
</p>
<%end%>

<% if !@room.guestsHaveToKnock.nil? %>
<p>
  <b>Guestshavetoknock:</b>
  <%=h @room.guestsHaveToKnock %>
</p>
<%end%>

<% if !@room.guestsNotAllowed.nil? %>
<p>
  <b>Guestsnotallowed:</b>
  <%=h @room.guestsNotAllowed %>
</p>
<%end%>

<% if !@room.productName.nil? %>
<p>
  <b>Productname:</b>
  <%=h @room.productName %>
</p>
<%end%>

<% if !@room.roomLocked.nil? %>
<p>
  <b>Roomlocked:</b>
  <%=h @room.roomLocked %>
</p>
<%end%>

<% if !@room.roomState.nil? %>
<p>
  <b>Roomstate:</b>
  <%=h @room.roomState %>
</p>
<%end%>

<% if !@room.roomsetting.nil? %>
<p>
  <b>Roomsetting:</b>
  <%=h @room.roomsetting %>
</p>
<%end%>

<% if !@roominfo.nil? %>
<table>
  <tr>
    <td><b>bytesDown:</b></td>
    <td> <%=@roominfo.bytesDown%></td>
  </tr>
  <tr>
    <td><b>btyesUp:</b></td>
    <td> <%=@roominfo.bytesUp%></td>
  </tr>
  <tr>
    <td><b>dateCreated: </b></td>
    <td><%=@roominfo.dateCreated%></td>
  </tr>
  <tr>
    <td><b>dateEnded:</b></td>
    <td> <%=@roominfo.dateEnded%></td>
  </tr>
  <tr>
    <td><b>dateStarted:</b></td>
    <td> <%=@roominfo.dateStarted%></td>
  </tr>
  <tr>
    <td><b>isConnected:</b></td>
    <td> <%=@roominfo.isConnected%></td>
  </tr>
  <tr>
    <td><b>messages: </b></td>
    <td><%=@roominfo.messages%></td>
  </tr>
  <tr>
    <td><b>btyesUp: </b></td>
    <td><%=@roominfo.peakUsers%></td>
  </tr>
</table>
 <%end%>



<% if !@users.nil? %>
  <h2>Current User List <%=DateTime.now%></h2>
  <table border="1">
     <tr>
      <th>Displayname</th>
      <th>UserID</th>
      <th>Connection</th>
      <th>Role</th>
      <th>Userid</th>
      <th>Affiliation</th>
      <th>Starttime</th>
      <th>Online Duration</th>
      <th>Remove</th>
    </tr>


    <% @users.each do |user| %>

      <tr>
        <td><%=h user.displayName %></td>
        <td><%=h user.userID %></td>
        <td><%=h user.userconnection %></td>
        <td><%=h user.role %></td>
        <td><%=h user.userID %></td>
        <td><%=h user.affiliation %></td>
        <td><%=h Time.at(user.starttime/1000)%></td>
        <td><%=h RoomsController.timedifffromnow(user.starttime) %></td>
         <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <%end%>
      
  </table>
<%end%>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> |
<%= link_to "logout",:controller => "account", :action => "logout" %>