<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :displayName %><br />
    <%= f.text_field :displayName %>
  </p>
  <p>
    <%= f.label :connection %><br />
    <%= f.text_field :connection %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :userID %><br />
    <%= f.text_field :userID %>
  </p>
  <p>
    <%= f.label :affiliation %><br />
    <%= f.text_field :affiliation %>
  </p>
  <p>
    <%= f.label :starttime %><br />
    <%= f.datetime_select :starttime %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>