<h1>Listing users</h1>

<table>
  <tr>
    <th>Displayname</th>
    <th>Connection</th>
    <th>Role</th>
    <th>Userid</th>
    <th>Affiliation</th>
    <th>Starttime</th>
    <th>Item</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.displayName %></td>
    <td><%=h user.connection %></td>
    <td><%=h user.role %></td>
    <td><%=h user.userID %></td>
    <td><%=h user.affiliation %></td>
    <td><%=h user.starttime %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>